
body{
	background-color: #fed;
	
	overflow: scroll;
}

td{
	/*border: 1px solid black;*/
	vertical-align: top;
}

#active-box{
	position: relative;
	float: left;
	width: 300px;
	height: 400px;
	
	margin: 0 20px 0 0;
	
	background-color: green;
}

#active-img-wrap{
	width: 300px;
	height: 300px;
	
	background-color: #ccc;
	
	outline: 3px solid #0f0;
}

#active-img-wrap img { 
    width: 100%;
	
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.img-magnifier-container {
	position:relative;
}

.img-magnifier-glass {
	position: absolute;
	border: 3px solid #0f0;
	border-radius: 50%;
	cursor: none;
	/*Set the size of the magnifier glass:*/
	width: 100px;
	height: 100px;

	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;          /* Firefox                        */
	image-rendering: -o-crisp-edges;            /* Opera                          */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: pixelated; /* Chrome */
	image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#main-content {
	position: relative;
	min-width: 1000px;
	
	background-color: #0000;
	
	padding: 10px;
}

.result-display {
	position: relative;
	margin-bottom: 40px;
	
	width: 100%;
	height: 100px;
	
	background-color: #3330;
}

.result-display:first-child .query-box{
	outline: 3px solid #0f0;
}

.result-display:last-child {
	margin-bottom: 0;
}

.query-box, .result-box{
	position: relative;
	top:0;
	left:0;
	margin: 0 10px 0 0;
	
	float: left;
	
	height: 100%;
	min-width: 20px;
	max-width: 100px;
	
	background-color: white;
}

.query-box:first-child{
	margin: 0 20px 0 0;
}

.result-box:last-child{
	margin: 0;
}

.query-img, .result-img {
	position: relative;
	bottom: 0;
	
	height: 100%;
	
	z-index: 0;
}

.query-img:hover, .result-img:hover{
	outline: 3px solid #0f0;
	cursor: pointer;
}

.query-caption{
	font-size: 8pt;
	
	width: 100%;
	text-align: left;
	
	transition: all 100ms ease-in-out;
	
	z-index: 1;
}

.hover-caption{
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
	
	width: 100%;
	
	background-color: #0009;
	color: white;
	font-weight: 500;
	
	transition: all 500ms ease-in-out 200ms;
}

.check{
	width: 16px;
	float: left;
	margin-right: 5px;
}

.best-result-box {
	position: relative;
	top:0;
	left: 0;
	margin: 0 20px 0 0;
	
	float: left;
	
	height: 100%;
	min-width: 100px;
	
	background-color: #000;
}

.worst-result-box {
	position: relative;
	top:0;
	left:0;
	margin: 0 20px 0 0;
	
	float: left;
	
	height: 100%;
	min-width: 100px;
	
	background-color: #000;
}

.scroll-left { 
	position: relative;
	top:0;
	left:0;
	margin: 0 10px 0 0;
	
	float: left;
	
	height: 100%;
	min-width: 10px;
	
	/*background-color: #ccc;
	*/
}

.scroll-right { 
	position: relative;
	top:0;
	right:0;
	margin: 0 0 0 10px;
	
	float: right;
	
	height: 100%;
	min-width: 10px;
	
	/*background-color: #ccc;
	*/
}

.scroll-up, .scroll-down{
	width: 100px;
}

.scroll-up, .scroll-down, .scroll-left, .scroll-right{
	border: 1px solid black;
}

.query-box {
	
	position: relative;
	top:0;
	left:0;
	margin: 0 10px 0 0;

	float: left;
	
	height: 100%;
	
}

.result-img-wrap .query-box:last-child {
	margin: 0;
}