
body{
	background-color: #fed;
	
	overflow: scroll;
}

td{
	/*border: 1px solid black;*/
	vertical-align: top;
}

#active-box{
	position: fixed;
	top: 13px;
	left: 20px;
	width: 280px;
	
	margin: 0 20px;
	
	background-color: #0f00;
}

#active-img-wrap {
	width: 280px;
	height: 280px;
	
	margin: 10px 0 6px 0;
	
	background-color: #ccc;
	
	outline: 3px solid #0f0;
}



#active-img-wrap img, #hover-img-wrap img { 
    width: 100%;
	
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#hover-img-wrap {
	/*position: absolute;
	top: 0;
	left: 0;
	*/
	width: 280px;
	height: 280px;

	outline: 3px solid #ff0;
}

#active-id {
	display: inline-block;
	width: 100%;
		
	text-align: left;
	
	line-height: 1.0;
	margin: 0;
}

.query-link{
	color: #00f;
	
	font-weight: 300;
	
	float: right;
}

.query-link:hover{
	text-decoration: underline;
	cursor: pointer;
}

#overlay-form{
	float: right;
}

.pinned-img{
	outline: 3px solid #0f0;
}

#main-content {
	
	position: relative;
	
	background-color: #0000;
	
	padding: 10px 0 0 0;
}

.result-display {
	display: flex;
	
	position: relative;
	margin-bottom: 40px;
	
	width: 100%;
	height: 150px;
	
	background-color: #3330;
}

.result-display:last-child {
	margin-bottom: 0;
}

.query-box, .result-box{
	position: relative;
	top:0;
	left:0;
	margin: 0 10px 0 0;
	
	float: left;
	
	height: 100px;
	width: 100px;
	
	background-color: white;
}

.query-box:first-child{
	margin: 0 20px 0 0;
}

.result-box:last-child{
	margin: 0;
}

.query-img, .result-img {
	position: relative;
	bottom: 0;
	
	height: 100%;
	
	z-index: 0;
}

.query-box:hover, .result-box:hover{
	outline: 3px solid #ff0;
	cursor: pointer;
}

.query-caption{
	font-size: 8pt;
	
	width: 100%;
	text-align: left;
	
	transition: all 100ms ease-in-out;
	
	z-index: 1;
}

.hover-caption{
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
	
	width: 100%;
	
	background-color: #0009;
	color: white;
	font-weight: 500;
	
	transition: all 500ms ease-in-out 200ms;
}

.check{
	width: 16px;
	float: left;
	margin-right: 5px;
}

.result-carousel {
	display: flex;
	
	position: relative;
	top:0;
	left: 0;
	margin: 0 0 20px 0;
	float: left;
	
	height: 100px;
	min-width: 100px;
	padding: 10px 10px 40px 0;
	
	background-color: #fff;
	border-radius: 3px;
	box-shadow: inset 0px 0px 3px #000;
}

.icon {
	float: left;
	height: 16px;
	
	margin: 4px 2px;
}

.scroll-wrap{
	float: left;
}

.scroll-normal-wrap, .scroll-match-wrap{
	display: flex;
	
	margin: 0 10px;
}

.scroll-left, .scroll-right, 
.scroll-up, .scroll-down{
	border-radius: 3px;
}

.scroll-left:hover, .scroll-right:hover,
.scroll-up:hover, .scroll-down:hover{
	background-color: #ccc;
	cursor: pointer;
}

.scroll-up + .scroll-down{
	margin: 4px 8px 4px 4px;
}

.query-box {
	
	position: relative;
	top:0;
	left:0;
	margin: 0 10px 0 0;

	float: left;
	
}

.result-img-wrap{
	display: flex;
	height: 100%;
}

.result-img-wrap .query-box:last-child {
	margin: 0;
}