:root{
	--main-color: #fed;
	--active-color: #0f0;
	--hover-color: #ff0;
	--button-hover-color: #ccc;
	--link-color: #00f;
	--std-transp: #0000;
	
	--std-margin-xs: 4px;
	--std-margin-small: 10px;
	--std-margin-med: 20px;
	--std-margin-large: 40px;
	--std-margin-xl: 60px;
}

body{
	background-color: var(--main-color);
	
	overflow: scroll;
}

table {
	border-spacing: 0px;
}

td{
	/*border: 1px solid black;*/
	vertical-align: top;
	padding: 0;
}

label {
	margin: 0 var(--std-margin-xs);
}

input {
	margin: 0 var(--std-margin-xs) 0 0;
	border-radius: var(--std-margin-xs);
	border: 1px solid black;
}

#active-box{
	position: fixed;
	top: 0px;
	left: 0px;
	
	width: 280px;
	height: 100%;
	padding: var(--std-margin-med) var(--std-margin-med) 0 var(--std-margin-large);
	
	background-color: var(--std-transp);
	
	z-index: 100;
	background-color: var(--main-color);
}

#active-img-wrap {
	width: 280px;
	height: 280px;
	
	margin: var(--std-margin-med) 0 calc(2 * var(--std-margin-xs)) 0;
	
	background-color: #ccc;
	
	outline: var(--std-margin-xs) solid var(--active-color);
}



#active-img-wrap img, #hover-img-wrap img { 
    width: 100%;
	
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#hover-img-wrap {
	/*position: absolute;
	top: 0;
	left: 0;
	*/
	width: 280px;
	height: 280px;

	outline: var(--std-margin-xs) solid var(--hover-color);
}

#active-id {
	position: relative;
	
	display: inline-block;
	width: 100%;
		
	text-align: center;
	
	line-height: 1.0;
	margin: 0;
}

#back-link, #query-link{
	position: relative;
	
	color: var(--link-color);
	font-weight: 300;
}

#back-link{
	float: left; 
}

#query-link{	
	float: right;
}

#back-link:hover, #query-link:hover{
	text-decoration: underline;
	cursor: pointer;
}

#overlay-form{
	float: right;
}

.pinned-img{
	outline: var(--std-margin-xs) solid var(--active-color);
}

#toolbar {
	display: flex;
	
	position: fixed;
	top: 0;
	padding: var(--std-margin-med) 0 0 0;
	
	min-width: 500px;
	width: 100%;
	
	z-index: 1;
	background-color: var(--main-color);
}

#main-content {
	
	position: relative;
	top: calc(3 * var(--std-margin-med));
	left: var(--std-margin-xs);
	
	background-color: #0000;
	
	padding: var(--std-margin-small) 0 0 0;
}

.result-display {
	display: flex;
	
	position: relative;
	margin-bottom: 0px;
	
	width: 100%;
	height: 150px;
	
	background-color: var(--std-transp);
}

.result-display:last-child {
	margin-bottom: 0;
}

.query-box, .result-box{
	position: relative;
	top:0;
	left:0;
	margin: 0 var(--std-margin-small) 0 0;
	
	float: left;
	
	height: 100px;
	width: 100px;
	
	background-color: white;
}

.query-box:first-child{
	margin: 0 var(--std-margin-med) 0 0;
}

.result-box:last-child{
	margin: 0;
}

.query-img, .result-img {
	position: relative;
	bottom: 0;
	
	height: 100%;
	
	z-index: 0;
}

.query-box:hover, .result-box:hover{
	outline: var(--std-margin-xs) solid var(--hover-color);
	cursor: pointer;
}

.query-caption{
	font-size: 8pt;
	
	width: 100%;
	text-align: left;
	
	transition: all 100ms ease-in-out;
	
	z-index: 1;
}

.check{
	width: 16px;
	float: left;
	margin-right: var(--std-margin-xs);
}

.result-carousel {
	display: flex;
	
	position: relative;
	top:0;
	left: 0;
	margin: 0 0 var(--std-margin-med) 0;
	float: left;
	
	height: 100px;
	min-width: 100px;
	padding: var(--std-margin-small) var(--std-margin-small) var(--std-margin-large) 0;
	
	background-color: #fff;
	border-radius: var(--std-margin-xs);
	box-shadow: inset 0px 0px 3px #000;
}

.icon {
	float: left;
	height: 16px;
	
	margin: var(--std-margin-xs) var(--std-margin-xs);
}

.scroll-wrap{
	float: left;
}

.scroll-normal-wrap, .scroll-match-wrap, 
.return-scroll-wrap {
	display: flex;
	
	margin: 0 var(--std-margin-small);
}

.scroll-left, .scroll-right, 
.scroll-up, .scroll-down,
.return-button {
	border-radius: var(--std-margin-xs);
}

.scroll-left:hover, .scroll-right:hover,
.scroll-up:hover, .scroll-down:hover, 
.return-button:hover {
	background-color: var(--button-hover-color);
	cursor: pointer;
}

.scroll-up + .scroll-down{
	margin: var(--std-margin-xs) 8px var(--std-margin-xs) var(--std-margin-xs);
}

.query-box {
	
	position: relative;
	top:0;
	left:0;
	margin: 0 var(--std-margin-small) 0 0;

	float: left;
	
}

.result-img-wrap{
	display: flex;
	height: 100%;
}

.result-img-wrap .query-box:last-child {
	margin: 0;
}

*:hover > .tooltip{
	visibility: visible;
}

.tooltip{
	display: flex;
	visibility: hidden;
	
	position: absolute;
	top: var(--std-margin-med);
	left: var(--std-margin-xl);
	z-index: 1000;
	
	border-radius: var(--std-margin-xs);
	padding: var(--std-margin-xs);
	
	width: 100px;
	
	background-color: #333;
	color: white;
	font-weight: 300;
	font-size: 10pt;
	text-align: center;
}